@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

.navbar{
    background:url(../images/phon.jpg);
    background-size: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav ul{
    margin-left:20%;
}

.navbar-light a{
    color: #fff!important;
}

.row{
    margin-top: 40px;
    justify-content:center;
    text-align: center;
}

.row>h1{
    margin-top: 40px;
}

.dropdown-item:hover{
    background-color: rgba(75, 75, 255, 0.979);
}

h4{
    margin-top: 40px;
}

p{
    margin-top: 20px;;
}

.row ul{
    text-align: left;
}

.container{
    margin-top: 80px;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
body{
    width: 100%;
}



.photos, .info{
    width: 50%;
}

.stock{
    color: green;
    text-transform: uppercase;
}

.f-w-700{
    font-weight: 700;
}

h3{
    text-transform: uppercase;
}

#modal_form {
    width: 575px; 
    height: 500px;
    border-radius: 5px;
    background: #fff;
    position: fixed; 
    top: 50%; 
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    display: none;
    z-index: 5;
    padding: 20px 50px;
}

#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    font-size: 2rem;
    top: 10px;
    right: 30px;
    cursor: pointer;
    display: block;
}

#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.5;
    width:100%; 
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}

#modal_form form, #modal_form form>* {
    width: 100%!important;
}

#modal_form form>input[type=checkbox], #modal_form form>input[type=radio]{
    display: flex;
    align-items: center
}

#modal_form label{
    display: flex;
    align-items: center;
}

.red{
    color: red;
    font-size: 1rem;
}

.container{
    display: flex;
}

.no{
    color: gray;
}