.navbar{
    background:url(../images/phon.jpg);
    background-size: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav ul{
    margin-left:20%;
}

.navbar-light a{
    color: #fff!important;
}

.row{
    margin-top: 40px;
    justify-content:center;
    text-align: center;
}

.row>h1{
    margin-top: 40px;
}

.dropdown-item:hover{
    background-color: rgba(75, 75, 255, 0.979);
}

h4{
    margin-top: 40px;
}

p{
    margin-top: 20px;;
}

.les-els{
    justify-content:space-around;
    text-align: center;
}

.les-el{
   margin: 2% auto;
}

.les-el:hover{
    transition: 0.3s ease;
    transform:rotateX(10deg);
    cursor: pointer;
}

#components{
    border: 2px solid rgb(86, 52, 148);
    box-shadow: 10px 10px 23px 20px rgba(120,114,114,1);
}

.dropdown-toggle:hover{
    cursor: pointer;
}

.row ul{
    text-align: left;
}

.container{
    margin-top: 80px;
    text-align: center;
}